<a href="https://colab.research.google.com/github/bogdanbanu/python-algorithmic-trading/blob/main/testanddelete.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

schools = pd.read_csv('schools.csv')
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

In [ ]:
# prompt: Finding schools with the best math scores
# Subset the data to find the schools with math scores of at least 80%, considering the maximum possible score is 800 and save this as a pandas DataFrame called best_math_schools.

# Assuming 'schools.csv' contains a column named 'math_score' representing the math score.
best_math_schools = schools[schools['average_math'] >= (800 * 0.80)]

In [ ]:
# prompt: Identifying the top 10 performing schools
# Find the 10 best performing schools based on the total score across the three SAT sections.

# Calculate the total SAT score for each school.
schools['total_score'] = schools['average_math'] + schools['average_reading'] + schools['average_writing']

# Sort the schools by total score in descending order and get the top 10.
top_10_schools = schools.sort_values('total_score', ascending=False).head(10)

# Display the top 10 performing schools.
top_10_schools

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested,total_score
88,Stuyvesant High School,Manhattan,M477,754,697,693,97.4,2144
170,Bronx High School of Science,Bronx,X445,714,660,667,97.0,2041
93,Staten Island Technical High School,Staten Island,R440,711,660,670,99.7,2041
174,High School of American Studies at Lehman College,Bronx,X905,669,672,672,91.8,2013
333,Townsend Harris High School,Queens,Q515,680,640,661,97.1,1981
365,Queens High School for the Sciences at York Co...,Queens,Q774,701,621,625,97.9,1947
5,Bard High School Early College,Manhattan,M097,634,641,639,70.8,1914
280,Brooklyn Technical High School,Brooklyn,K430,682,608,606,95.5,1896
45,Eleanor Roosevelt High School,Manhattan,M855,641,617,631,86.0,1889
68,"High School for Mathematics, Science, and Engi...",Manhattan,M812,683,610,596,92.6,1889

In [ ]:
# prompt: Find out the number of schools, average SAT, and standard deviation of SAT for the NYC borough with the largest standard deviation, rounded to two decimal places.

import pandas as pd
import numpy as np

schools = pd.read_csv('schools.csv')

# Group data by borough and calculate the standard deviation of SAT scores.
borough_stats = schools.groupby('borough')['total_score'].agg(['std', 'count', 'mean'])

# Find the borough with the largest standard deviation.
borough_with_largest_std = borough_stats['std'].idxmax()

# Get the statistics for the borough with the largest standard deviation.
largest_std_stats = borough_stats.loc[borough_with_largest_std]

# Round the average SAT score and standard deviation to two decimal places.
num_schools = int(largest_std_stats['count'])
avg_sat = round(largest_std_stats['mean'], 2)
std_sat = round(largest_std_stats['std'], 2)

print(f"Borough with largest standard deviation: {borough_with_largest_std}")
print(f"Number of schools: {num_schools}")
print(f"Average SAT: {avg_sat}")
print(f"Standard deviation of SAT: {std_sat}")

KeyError: 'Column not found: total_score'